<div>
  <% @comment = locals[:comment]%>
  <% if @comment.images.attached? %>
    <ul class="comment_images d-flex">
      <% @comment.images.each do |image| %>
        <li id="comment_image_<%= image.id %>">
          <%= cl_image_tag(image.key, width: 300)  %>
          <%= link_to 'Remove Image', delete_image_path(@comment, image), class: "btn btn-danger", remote: true, method: :post if locals[:edit_method] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
