<b><p><%= comment.user.user_name %></p></b>
<p><%= comment.comment_text %></td>
<%= render 'comments/comment_images_show', comment: comment %>

<div>
  <% if current_user %>
    <%= render 'comments/restricted_options', comment: comment %>
  <% end %>
</div>
<hr>

