<h3 class="h3 mb-3 font-weight-normal">Comment Description</h3>
<%= f.text_area :comment_text, autofocus: true, rows: 10, cols: 60, class: "form-control", placeholder: "Comment Description", required:true %>

<button class="btn btn-lg btn-primary btn-block" type="submit">Add Comment</button><br>
