<h1>Comment added</h1>

<p>
  A User with the name <%= @user.user_name %> add a comment on the phase which is assigned to you.
</p>

<p>For more detail about hte comment visit <%= link_to 'Link', phase_url(@phase) %></p>
