<h1>Comment Edited</h1>

<p>
  A User with the name <%= @user.user_name %> edit a comment on the phase which is assigned to you.
</p>

<p>For more detail about hte comment visit <%= link_to 'Link', phase_url(@phase) %></p>
