<h1>Comment Deleted</h1>

<p>
  A User with the name <%= @user.user_name %> Deleted a comment on the phase which is assigned to you.
</p>

<p>For more detail about the phase visit <%= link_to 'Link', phase_url(@phase) %></p>
