<h1 class="h1 mb-3 font-weight-normal">Edit User</h1>
<%= render "user_form", user: @user %>

<%= link_to 'Change Password', password_change_path(@user), class: "btn btn-info" %>
<%= render 'shared/back_navigation', path: leads_path %>
