<section class="form-auth auth-user">
  <h2>Change Password</h2>
  <%= form_with url: password_update_path(@user), method: :patch do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <%= f.password_field :password , class: "form-control", placeholder: "Password (Minimum 6 character)" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button><br>
  <% end %>
</section>
