<div>
  <h2>Client Information</h2>
  <% @client = @lead.client%>
  <div>
    <h3>Client Name :</h3>
    <p><%= @client.client_name%></p>
  </div>
  <div>
    <h3>Client Email : </h3>
    <p><%= @client.client_email%></p>
  </div>
  <div>
    <h3>Client Address : </h3>
    <p><%= @client.client_address%></p>
  </div>
  <div>
    <h3>Client Contact No : </h3>
    <p><%= @client.client_contact%></p>
  </div>
</div>
