<div class="client_detail">
  <h3>Client Information</h3>
  <p>Client Name : <%= @lead.client_name%></p>
  <p>Client Email : <%= @lead.client_email%></p>
  <p>Client Address : <%= @lead.client_address%></p>
  <p>Client Contact No : <%= @lead.client_contact%></p>
</div>
