<div class="lead_detail">
  <h3>Lead Detial</h3>
  <p>Lead Name : <%= @lead.lead_name%></p>
  <p>Lead Name : <%= @lead.lead_type%></p>
  <p>Platform :<%= @lead.platform_used%></p>
  <p>Owner : <%= @lead.user.user_name%></p>
</div>
