<h1>Projects</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Sr.</th>
      <th scope="col">Project Name</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Transitioned Date</th>
      <th></th>
    </tr>
    <tr>
  </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <th scope="row">*</th>
        <td><%= project.project_name %></td>
        <td><%= project.user.user_name %></td>
        <td><%= project.created_at.to_date %></td>
        <td><%= link_to 'Details', lead_path(project.lead), class: "btn btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
