<h1>Phase Deleted</h1>

<p>
  A Phase which is assigned to <b><%= @phase.user.user_name %></b> has been Deleted by : <%= @admin.user_name%>
</p>

<p>In the case of any issue, Reach out to <%= @admin.user_name %> </p>
