<h1>Phase Updated</h1>

<p>
  A Phase has been edited by : <b><%= @admin.user_name%></b> whihc is assigned to : <%= @phase.user.user_name%>

<p>For More detail the phase, visit <%= link_to 'Link', phase_url(@phase) %> </p>
