// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_images{
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  li{
    margin: 0px 15px;
    flex-basis: 23%;
  }
}
