<section class="form-auth auth-user">
  <% if phase.id %>
    <% @lead = Phase.find(params[:id]).lead %>
    <%= form_with model: @phase, remote: true do |f| %>
      <% render 'phase_form_fields', f: f%>
    <% end %>
  <% else %>
    <% @lead = Lead.find(params[:lead_id]) %>
    <%= form_with( model: [@lead, @lead.phases.build], remote: true) do |f| %>
      <% render 'phase_form_fields', f: f%>
    <% end %>
  <% end %>
</section>
